/* ==========================================================================
   User login page
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\000035}}
body.page-user-login,
body.page-user-password {
  background: url("../images/bg/diagonal-noise.png") repeat scroll 0 0 #999999;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\000038}}
body.page-user-login .new-password,
body.page-user-password .new-password {
  position: relative;
  top: -55px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000313}}
body.page-user-login .form-required,
body.page-user-password .form-required {
  display: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000317}}
body.page-user-login .form-actions,
body.page-user-password .form-actions {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000321}}
body.page-user-login .wrapper,
body.page-user-password .wrapper {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  margin-top: 120px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000329}}
body.page-user-login .form,
body.page-user-password .form {
  background-color: #F9F9F9;
  padding: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000334}}
body.page-user-login .links,
body.page-user-password .links {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000338}}
body.page-user-login .center,
body.page-user-password .center {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000343}}
body.page-user-login input[type="text"],
body.page-user-login input[type="password"],
body.page-user-password input[type="text"],
body.page-user-password input[type="password"] {
  background-color: #FBFBFB;
  border: 1px solid #D5D5D5;
  color: #555555;
  font-size: 24px;
  font-weight: 200;
  line-height: 1;
  margin: 2px 0 16px;
  margin-top: 2px;
  outline: 0 none;
  padding: 3px;
  width: 244px;
  /* 250px width inside container - 6px for 3px padding on textboxes */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000357}}
body.page-user-login input[type="text"]:hover,
body.page-user-login input[type="password"]:hover,
body.page-user-password input[type="text"]:hover,
body.page-user-password input[type="password"]:hover {
  border-color: #C5C5C5;
  background-color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000362}}
body.page-user-login input[type="text"]:focus,
body.page-user-login input[type="password"]:focus,
body.page-user-password input[type="text"]:focus,
body.page-user-password input[type="password"]:focus {
  border-color: #0074BD;
  background-color: #FFF;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000368}}
body.page-user-login input[type="submit"],
body.page-user-password input[type="submit"] {
  margin: 0 !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000375}}
body.page-user-password input[type=text] {
  width: 374px;
  /* 380px width inside container - 6px for 3px padding on textbox */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000382}}
body.page-user-login .wrapper {
  width: 350px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000389}}
body.page-user-password .wrapper {
  width: 480px;
}

/* ==========================================================================
   Messages
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\0000398}}
#console {
  z-index: 10000;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\00003102}}
#console .messages {
  margin: 0;
}

/* ==========================================================================
   Pages
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\00003114}}
div#module-filter-squeeze table,
div#module-filter-squeeze #permissions,
form#user-admin-permissions table,
form#user-admin-permissions #permissions {
  border: 1px solid #D6DBDE;
  margin: 0 auto;
  width: 96%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\00003120}}
div#module-filter-squeeze #module-filter-show-wrapper,
form#user-admin-permissions #module-filter-show-wrapper {
  margin-bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\00003124}}
div#module-filter-squeeze input[type=submit],
form#user-admin-permissions input[type=submit] {
  margin: 20px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\00003129}}
table#permissions {
  margin: 20px auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/_internal\/d7\/sites\/all\/themes\/rubbles\/sass\/styles\.scss}line{font-family:\00003133}}
div#module-filter-squeeze table {
  margin-bottom: 20px;
}
