/* ==========================================================================
   User login page
   ========================================================================== */
body.page-user-login,
body.page-user-password {
  background: url("../images/bg/diagonal-noise.png") repeat scroll 0 0 #999;

  .form-required {
    display: none;
  }

  .form-actions {
    margin-bottom: 0;
  }

  .wrapper {
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    margin-top: 120px;
  }

  .form {
    background-color: #F9F9F9;
    padding: 50px;
  }

  .links {
    margin-top: 20px;
  }

  .left {
    float: left;
  }

  .center {
    text-align: center;
  }

  .right {
    float: right;
  }

  input[type="text"],
  input[type="password"] {
    background-color: #FBFBFB;
    border: 1px solid #D5D5D5;
    // box-shadow: 1px 1px 2px rgba(200, 200, 200, 0.2) inset;
    color: #555555;
    font-size: 24px;
    font-weight: 200;
    line-height: 1;
    margin: 2px 0 16px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px;
    width: 244px; /* 250px width inside container - 6px for 3px padding on textboxes */

    &:hover {
      border-color: #C5C5C5;  
      background-color: #FFF;
    }

    &:focus {
      border-color: #0074BD;
      background-color: #FFF;
    }
  }

  input[type="submit"] {
    margin: 0 !important;
  }
}

body.page-user-password {

  input[type=text] {
    width: 374px; /* 380px width inside container - 6px for 3px padding on textbox */
  }
}

body.page-user-login {

  .wrapper {
    width: 350px;
  }
}

body.page-user-password {

  .wrapper {
    width: 480px;
  }
}


/* ==========================================================================
   Messages
   ========================================================================== */
#console {
  z-index: 10000;
  margin: 0;

  .messages {
    margin: 0;

    &.status {
      background-color: #7CCF7C;
    }

    &.warning {
      background-color: #E6A645;
    }
  }
}

/* ==========================================================================
   Pages
   ========================================================================== */
div#module-filter-squeeze, 
form#user-admin-permissions {

  table,
  #permissions {
    border: 1px solid #D6DBDE;
    margin: 0 auto;
    width: 96%;
  }
  
  #module-filter-show-wrapper {
    margin-bottom: 20px;
  }

  input[type=submit] {
    margin: 20px !important;
  }
}

table#permissions {
  margin: 20px auto;
}

div#module-filter-squeeze table {
  margin-bottom: 20px;
}


/* ==========================================================================
   Dashboard (Homebox module)
   ========================================================================== */
#homebox { 

  .homebox-column {
    background: none;
  }
  
  .homebox-portlet {
    border-top: 0;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    margin: 0 0 5px 0;

    &:last-child {
      margin-bottom: 0;
    }

    .portlet-header {
      background-color: #0074BD;
      color: #F9F9F9;
      font-weight: 600;
      padding-left: 10px;
    }

    .homebox-portlet-inner {
      border: none;
    }
  }

  .homebox-placeholder {
    background-color: #F5F5F5;
    border: 1px dashed #BBB;
  }
}

#homebox-add {
  overflow: hidden;
}